.container{
 padding: 1%;
 
}
.card-block h2{
  font-family: -webkit-pictograph;
  font-size: -webkit-xxx-large;
}
.card-text {
  text-align: justify!important;
  font-size: large;
  font-family: serif;
  color: black;
}
.btn {
  font-size: small;
  margin-left: 79%;
}
.row{
   
  box-shadow: 0 6px 10px 0 rgba(0,0,0.2,0.2);
  transition: 0.2s;
  
  border-radius: 5px;
}

.row:hover {
  box-shadow:5px 16px 16px 8px rgba(0,0.2,0.2,0.2);
}
.backCard{
  background-image:url('./atmosphere-cloudiness-clouds-1367180.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: inherit; 
}
