
.App{

background-repeat: no-repeat;
background-size: cover;
}
.backcard{
      background-color:aliceblue
}
.PARAGRAPHE1{
      padding: 4%;
      text-align: -webkit-center;
      background-color: #9cd3dc;
      backface-visibility: 10%;
      margin: 1%;
      width: 84%;
      margin-left: 8%;
}

.navmenue{
     
      background-color: #69c3e8;
      position: fixed;
      width: -webkit-fill-available;
      z-index: 1;
      padding: 2%;
}
.navmenue ul
{
color: white;
color: white;
font-size: large;
display: flex;
justify-content: space-around;
}